<div class="editor">
  <div id="ide" #code contenteditable="true" (keyup)="processCode(code.innerText)">

    <div id="dataSegment">
      .data

    </div>
    <div id="codeSegment">

      .code<br>
      <br>
      ; Simple program to test functionality of the VM<br>
      <br>
      mov r0 "hello world"<br>
      mov ix 0<br>
      int 1<br>
      <br>
      mov r0 3<br>
      mov r1 4<br>
      cmp r0 r1<br>
      jmp skip<br>
      add r0 r1<br>
      <br>
      skip:<br>
      mul r0 r1<br>

      mov ix 0<br>
      int 1<br>



    </div>

  </div>

  <button id="run" class="button-2" (click)='execute(code.innerText)'>Run</button>

</div>

